.searchColumn {
    color: purple;
    font-size: 1.3rem;
    text-align: left;
    float: left;
    width: 49.85%;
    padding: 5px;
}

.searchRow{
    background: pink;
}

/* Clear floats after the columns */
.searchRow:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: none;
    outline-color: #719ECE;
    width: 100%;
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
    border: 5px solid #719ECE
}